@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-xs: 0.75rem;
  --text-sm: 0.88rem;
  --text-md: 1rem;
  --text-lg: 1.12rem;
  --text-xl: 1.25rem;
  --display-xs: 1.5rem;
  --display-sm: 1.88rem;
  --display-md: 2.25rem;
  --display-lg: 3rem;
  --display-xl: 3.75rem;
  --display-2xl: 4.5rem;
}
@layer utilities {
  .ut-shadow-lg {
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
      0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  }

  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .path-primary-600 path {
    @apply stroke-primary-600;
  }

  .main-container {
    @apply grow;
    @apply px-8 py-4 md:py-8;
  }
}

@layer components {
  .navigation-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2rem;
    width: 100%;
  }

  .icon {
    @apply w-6 h-6;
  }

  .tag {
    @apply my-1 py-0.5 px-2;
    @apply rounded-2xl;
    @apply text-xs font-medium;
    @apply text-blue-light-700 bg-blue-light-50;
    @apply border border-solid border-blue-light-200;
  }

  .tag-primary {
    @apply bg-primary-50 text-primary-700 border-primary-200;
  }

  .tag-gray {
    @apply bg-gray-50 text-gray-700 border-gray-200;
  }

  .nav-button--selected > path {
    @apply stroke-primary-800;
  }

  .dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
  }

  .dropdown-choices {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    translate: 0 calc(100% + 0.5rem);
    @apply rounded-lg border border-gray-200 border-solid bg-white;
  }

  .dropdown-choices > .dropdown-choice {
    padding: 10px 14px;
    border-bottom: 1px solid;
    @apply border-gray-200;
    @apply cursor-pointer;
    @apply hover:bg-gray-100;
  }

  .home-button {
    @apply rounded-lg;
    @apply border border-solid;
    @apply py-3 px-5;
    @apply text-sm md:text-md font-semibold;
    @apply text-center;
    @apply flex-1 md:grow-0 md:basis-[200px] lg:basis-[280px];
    @apply cursor-pointer;

    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  .button-group > * {
    @apply border-gray-300 border;
    @apply py-2.5 px-4;
    @apply text-sm font-semibold;
  }
  .button-group > *:first-child {
    border-radius: 8px 0 0 8px;
  }

  .button-group > *:last-child {
    border-radius: 0 8px 8px 0;
  }

  .button-group .checkbox-group {
    @apply flex flex-row gap-2 items-center;
    @apply cursor-pointer;
  }

  .button-group .checkbox-group * {
    @apply cursor-pointer;
  }

  .button-group .checkbox-group {
    @apply bg-white border-gray-300 border border-solid;
    @apply hover:bg-gray-50;
  }

  .button-group .checkbox-group.checked {
    @apply text-primary-700;
  }

  .course-button-group > * {
    @apply py-2.5 px-3.5;
  }

  .footer {
    @apply text-sm md:text-md;
    @apply font-medium md:font-normal;
  }

  .footer .icon {
    @apply w-4 h-4 md:w-6 md:h-6;
  }

  .pathway-card {
    @apply w-[280px] md:w-[475px];
    @apply bg-white;
    @apply rounded-[5px];
    @apply border border-solid border-gray-300;
    @apply p-6;
    @apply flex gap-5 flex-col;
  }

  .pathway-card .pathway-title {
    @apply text-lg font-semibold;
  }

  .pathway-card .progress-bar {
    @apply flex gap-x-2.5;
    @apply items-center;
  }

  .pathway-card .progress-bar .indicator {
    @apply rounded-[5px] w-[56px] h-[4px];
  }

  .pathway-card .courselist {
    @apply flex gap-x-2.5;
    @apply items-center;
  }

  .course-card {
    @apply w-[300px] sm:w-[500px] md:w-[723px];
    @apply rounded-[4px];
    @apply border border-solid border-gray-200;
    @apply p-3;
    @apply flex flex-col gap-1 items-start;
  }

  .course-card .course-title {
    @apply flex flex-col gap-y-1;
  }

  .input-wrapper:has(input:focus) {
    @apply outline outline-2 outline-gray-500;
  }
}
